@model IEnumerable<KurumsalWeb.Models.Model.Iletisim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<button><a href="/iletisim/Create/">Ekle</a></button>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Whatsaap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instegram)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Whatsaap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instegram)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.IletisimId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.IletisimId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.IletisimId })
        </td>
    </tr>
}

</table>
